*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
ul{
    position: relative;
    display: flex;
    gap: 25px;
}
ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    transition: ease 0.6s;
    flex-wrap: wrap;
}
ul li span{
    position: absolute;
}
ul li:hover{
    width:180px;
    box-shadow: 0 15px 25px rgba(0,0,0,0);
}
ul li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    opacity: 0;
    background: linear-gradient(45deg,var(--i),var(--j));
    transition: .5s;
}
ul li:hover::before{
    opacity: 1;
}
ul li::after{
    content: '';
    position: absolute;
    top:10px;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg,var(--i),var(--j));
    transition: .5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}
ul li:hover::after{
    opacity: .5;
}
ul li ion-icon{
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25;
}
ul li:hover ion-icon{
    color: #fff;
    transform: scale(0);
    transition-delay: 0;
}
ul li .title{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    transform: scale(0);
    letter-spacing: .1em;
    transition: 0.5s;
    transition-delay: 0;
}
ul li:hover .title{
    transform: scale(2);
}

